.logo img {
  max-height: 50px !important;
  padding-left: 30px !important;
}

@media only screen and (max-width: 600px) {
  .logo img {
    max-height: 35px !important;  
    padding-left: 5px !important;
  }
}

.pricing .pricing-item {
    border: 2px solid ; color: #fdce02;

}
 
.section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--accent-color);
    display: none;

}
.section-title h2:before {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--accent-color);
    display: none;

}

.line {border: 0; height: 2px; background-color: #fdce02; width: 75%; margin: 0 auto; opacity: 1 !important;}

.pricing ul i {
    color: #e84545;}

.pricing h3 {font-size: 35px;}

.card {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: bold;
}