{% extends "base.html" %} {% block title %}Hand Car Wash and Auto Detailing Services in Encinitas | Cardiff Valero{% endblock %} {% block
description %}Experience the best hand car wash and auto detailing services in Encinitas at Cardiff Valero. Our professional team provides exceptional care for your vehicle{% endblock %} {% block content %}

<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img src="static/img/hero.webp" alt="" data-aos="fade-in" />

    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 data-aos="fade-up" data-aos-delay="100">
            Cardiff Valero Hand Car Wash
          </h2>
          <p data-aos="fade-up" data-aos-delay="200">
            A Premier Car Wash in Encinitas
          </p>
        </div>
        <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
          <form
            action="forms/newsletter.php"
            method="post"
            class="php-email-form"
          >
            <div class="sign-up-form">
              <input type="email" name="email" /><input
                type="submit"
                value="Subscribe"
              />
            </div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your subscription request has been sent. Thank you!
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
 
  <!-- /Hero Section -->

  <section id="pricing" class="pricing section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Car Wash and<br> Detailing Packages</h2>
<hr class="line"></hr>

      <p style="padding-top:20px">
        Complete Interior and Exterior Car Wash Services – The Best Car Wash and
        Detailing Packages in Encinitas
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <div class="row g-4">


        <div class="col-lg-4">
          <div class="pricing-item ">
            <h3>PLATINUM WASH</h3>

            <h4><sup>$</sup>26.99<span></span></h4>
            <ul>
              <li>
                <i class="bi bi-check"></i>
                <span>Full Service Wash</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Under-Body Flush</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Tire Dressing</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Wheels Cleaned</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Blue Coral Triple Treatment</span>
              </li>
              <li>
                <i class="bi bi-check"></i>
                <span>Blue Coral Clear Coat</span>
              </li>
               <li>
                <i class="bi bi-check"></i>
                <span>Windows Cleaned - Inside and Out</span>
              </li>
            </ul>
           </div>
        </div>
        <!-- End Pricing Item -->
                 <div class="col-lg-4">
          <div class="pricing-item ">
            <h3>EXPRESS DETAIL</h3>
                   <h4><sup>$</sup>89.99<span></span></h4>
<ul>
  <li>
    <i class="bi bi-check"></i>
    <span>Complete Interior Vacuuming</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Under-Body Flush</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Tire Dressing</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Wheels Cleaned</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Windows Cleaned - Inside and Out</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Shampoo Two Floor Mats</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Hand Wax</span>
  </li>
</ul>

 
          </div>
        </div>
        <!-- End Pricing Item -->

        <div class="col-lg-4">
          <div class="pricing-item ">
            <h3>FULL DETAIL</h3>
 
            <h4><sup>$</sup>119.99</h4>
<ul>
  <li>
    <i class="bi bi-check"></i>
    <span>Complete Interior Vacuuming</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Under-Body Flush</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Tire Dressing</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Wheels Cleaned</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Windows Cleaned - Inside and Out</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Hand Wax</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Carpet, Seats and Mats Shampooed or Leather Cleaned</span>
  </li>
  <li>
    <i class="bi bi-check"></i>
    <span>Wheel Detail</span>
  </li>
</ul>

 
          </div>
        </div>
        <!-- End Pricing Item -->
      </div>
    </div>
  </section>

<section id="faq" class="faq section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span style="color:#0170ac">Cardiff Valero </span><br><strong><span style="color:#fdce02; text-shadow: -1px -1px 0 #0170ac, 1px -1px 0 #0170ac,     -1px  1px 0 #0170ac,1px  1px 0 #0170ac;">Hand Car Wash</span></strong></h3>
            <p>
              Discover the ultimate car care experience at Cardiff Valero Hand Car Wash in Encinitas. </p><p>Our team of dedicated professionals provides a meticulous hand wash service that ensures your vehicle looks its best. </p><p>Whether you're look for a car wash near you or auto deatailing services, we offer unparalleled service and convenience.
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3>
                <span class="num">1.</span>
                <span>What services are included in a hand car wash and detailing package?</span>
              </h3>
              <div class="faq-content">
                <p>
                  Our comprehensive package includes exterior hand washing, waxing, tire dressing, interior vacuuming, window cleaning, and detailed care for the dashboard, console, and seats. When you are looking for a car wash in Encinitas, choose Cardiff Valero for exceptional results.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">2.</span>
                <span>How long does a hand car wash and detailing take?</span>
              </h3>
              <div class="faq-content">
                <p>
                  Typically, our services take between 1 to 3 hours for detailing, and less than 15 minutes for a car wash. For reliable auto washing services  in Encinitas, Cardiff Valero is your trusted choice.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">3.</span>
                <span>What are the benefits of a hand car wash compared to an automatic car wash?</span>
              </h3>
              <div class="faq-content">
                <p>
                  Hand car washes provide a more thorough and gentle cleaning, reducing the risk of scratches and damage. For personalized care and exceptional detail, choose Cardiff Valero in Encinitas.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">4.</span>
                <span>How often should I get my car detailed?</span>
              </h3>
              <div class="faq-content">
                <p>
                  We recommend detailing your car every 4-6 months to maintain its appearance and protect the paint and interior surfaces.  
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>
            <!-- End Faq item-->

            <div class="faq-item">
              <h3>
                <span class="num">5.</span>
                <span>Are the products used in the detailing process safe for my car's paint and interior?</span>
              </h3>
              <div class="faq-content">
                <p>
                  Yes, we use high-quality, non-abrasive products that are safe for your car's paint, upholstery, and other surfaces. Trust Cardiff Valero Hand Car Wash in Encinitas to ensure your vehicle gets the best care.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
            <!-- End Faq item-->
 
 



</main>

{% endblock %}
